<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeartBeatKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WorkoutKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WorkoutWatch WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WorkoutWatch WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WorkoutWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E11039D1CCBD96400E348E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E1103B11CCBD96400E348E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E1103BC1CCBD96400E348E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E1103C51CCBD96400E348E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E7D56301CE9848900E5C3D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E7D56391CE9848900E5C3D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E7D56581CE98C9800E5C3D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E7D56611CE98C9900E5C3D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
